body{
  font-family: "Berkshire Swash";
}
.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.musicContainer {
  flex: 0 1 50%;
  height: 80vh;
  border: 1px solid green;
  display: flex;
  flex-flow: column;
}
.musicBanner {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  border: 1px solid greenyellow;
  border-radius: 8%;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  font-family: "Berkshire Swash";
}
.musicBanner img {
  width: 100%;
  max-height: 100%;
  position: relative;
}
.overlay {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.596);
}
.song-details {
  position: absolute;
  margin-left: 20px;
  flex-wrap: wrap;
}
.song-title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2em;
}
.song-artist {
  text-transform: lowercase;
  font-style: italic;
}
.control-and-range {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.controlPad {
  display: flex;
  height: 30%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  margin: 30px;
}
.musicRange {
  display: flex;
  height: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.range-space {
  height: 5px;
  width: 500px;
  border: 1px solid gray;
  background-color: gray;
}
.flexible {
  height: 5px;
  width: 0%;
  background-color: red;
}
.theButtons {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.theButtons button {
  margin: 0.5em;
  height: 30px;
  border: none;
  width: 100px;
  flex: 1;
  font-size: 30px;
  background-color: inherit;
}

.otherButtons {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.otherButtons button {
  margin: 0.5em;
  height: 15px;
  border: none;
  width: 50px;
  flex: 1;
  font-size: 15px;
  background-color: inherit;
}
.local-music {
  width: 100%;
  height: 8vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  border-radius: 20%;
}
.play-local-song {
  margin-top: 15px;
}
.local-music form {
  text-align: center;
  margin: auto;
  font-size: 1em;
  font-weight: bolder;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .song-title {
    font-size: 1em;
  }
  .musicRange {
    display: flex;
    height: 10px;
    width: 100%;
  }
  .range-space {
    height: 5px;
    max-width: 70vw;
  }

  .theButtons {
    margin-top: 30px;
  }
  .theButtons button {
    margin: 0.5em;
    height: 30px;
    width: 60px;
    font-size: 30px;
  }
  .otherButtons {
    width: 100%;
    margin-top: 20px;
  }
  .otherButtons button {
    margin: 0.5em;
    height: 15px;
    width: 30px;
    font-size: 15px;
  }
  .musicContainer {
    flex: 0 1 400px;
    max-width: 80vw;
    border: 1px solid green;
    display: flex;
    flex-flow: column;
  }
  .local-music {
    width: 100%;
    height: 7vh;
    border-radius: 10%;
  }
}
@media screen and (max-width: 320px) {
  .song-details {
    margin-left: 10px;
  }
  .song-title {
    font-size: 0.8em;
  }
  .song-artist {
    font-size: 0.6em;
  }
  .theButtons button {
    margin: 0.5em;
    height: 30px;
    width: 50px;
    font-size: 30px;
  }
  .otherButtons button {
    margin: 0.5em;
    height: 15px;
    width: 18px;
    font-size: 15px;
  }
  .local-music {
    height: 6em;
    width: 100%;
    border-radius: 1%;
    margin-bottom: 15px;
  }
  .local-music form {
    padding-left: 10px;
  }
}
