.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.musicContainer {
  flex: 0 1 50%;
  height: 80vh;
  border: 1px solid green;
  display: flex;
  flex-flow: column;
}
.musicBanner {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60%;
  border: 1px solid greenyellow;
  border-radius: 8%;
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.musicBanner img {
  width: 100%;
  max-height: 100%;
  position: relative;
}
.overlay {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(244, 244, 244, 0.596);
}
.song-details {
  position: absolute;
  margin-left: 20px;
  flex-wrap: wrap;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.song-title {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 2em;
}
.song-artist {
  text-transform: lowercase;
  font-style: italic;
}
.control-and-range {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.controlPad {
  display: flex;
  height: 30%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  margin: 30px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 500px;
  border-radius: 8px;
  height: 2px;
  background-color: yellow;
  color: red;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: green;
  border: 1px solid green;
}
.theButtons {
  display: flex;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.theButtons button {
  margin: 0.5em;
  height: 30px;
  border: none;
  width: 100px;
  flex: 1;
  font-size: 30px;
  background-color: inherit;
}

.otherButtons {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.otherButtons button {
  margin: 0.5em;
  height: 15px;
  border: none;
  width: 50px;
  flex: 1;
  font-size: 15px;
  background-color: inherit;
}

@media screen and (max-width: 768px) {
  .song-title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2em;
  }
  input[type="range"] {
    width: 250px;
  }
  .theButtons {
    margin-top: 30px;
  }
  .theButtons {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
  }

  .theButtons button {
    margin: 0.5em;
    height: 30px;
    border: none;
    width: 60px;
    flex: 1;
    font-size: 30px;
    background-color: inherit;
  }

  .otherButtons {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .otherButtons button {
    margin: 0.5em;
    height: 15px;
    border: none;
    width: 30px;
    flex: 1;
    font-size: 15px;
    background-color: inherit;
  }
}
@media screen and (max-width: 320px) {
  .theButtons button {
    margin: 0.5em;
    height: 30px;
    border: none;
    width: 50px;
    flex: 1;
    font-size: 30px;
    background-color: inherit;
  }
  .otherButtons button {
    margin: 0.5em;
    height: 15px;
    border: none;
    width: 18px;
    flex: 1;
    font-size: 15px;
    background-color: inherit;
  }
}
